# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

name: Lint and Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: 32-core-ubuntu
    defaults:
      run:
        shell: bash
    steps:
      - name: Check disk space
        run: |
          echo "=== Disk usage overview ==="
          df -h
      - name: Check-out the repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
            python-version: '3.10'
      - name: Install PyTorch
        run: |
          pip install --extra-index-url https://download.pytorch.org/whl/cpu\
            torch==2.5.1
      - name: Install omnilingual_asr
        id: install_package
        run: |
          sudo apt-get install libsndfile1
          python -m pip install --extra-index-url https://fair.pkg.atmeta.com/fairseq2/whl/nightly/pt2.5.1/cpu 'fairseq2[arrow]'
          python -m pip install -e .[dev]

      - name: Run isort
        if: success() || (failure() && steps.install_package.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/isort.json"
          function remove_matcher
          {
            echo "::remove-matcher owner=isort::"
          }
          trap remove_matcher EXIT
          isort --check .
      - name: Run black
        if: success() || (failure() && steps.install_package.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/black.json"
          function remove_matcher
          {
            echo "::remove-matcher owner=black::"
          }
          trap remove_matcher EXIT
          black --check .
      - name: Run flake8
        if: success() || (failure() && steps.install_package.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/flake8.json"
          function remove_matcher
          {
            echo "::remove-matcher owner=flake8::"
          }
          trap remove_matcher EXIT
          flake8 .
      - name: Run mypy
        if: success() || (failure() && steps.install_package.outcome == 'success')
        run: mypy --show-error-codes --check-untyped-defs --ignore-missing-imports --implicit-optional --implicit-reexport .
      - name: Check disk space
        run: |
          echo "=== Disk usage overview ==="
          df -h
      - name: Run pytest
        if: success() || (failure() && steps.install_package.outcome == 'success')
        run: |
            pytest
